<table>
    <tr>
        <td>Mass</td>
        <td>{{mass}}</td>
    </tr>
    <tr>
        <td>Density</td>
        <td>{{density}}</td>
    </tr>
    <tr>
        <td>Surface area</td>
        <td>{{surfaceArea}}</td>
    </tr>
    <tr>
        <td>Diameter</td>
        <td>{{diameter}}</td>
    </tr>
    <tr>
        <td>Gravity</td>
        <td>{{gravity}}</td>
    </tr>
    <tr>
        <td>Satellites</td>
        <td>{{satellites}}</td>
    </tr>
</table>